@import './../../assets/colors';

.introduction {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 16px 48px;

  &__info {
    max-width: 45%;
    height: 506px;
    display: flex;
    align-items: center;
  }

  &__profile {
    & > img {
      width: 522px;
      height: 686px;
    }
  }
}

@media screen and (max-width: 600px) {
  .introduction {
    justify-content: center;

    &__info {
      text-align: center;
      max-width: 100%;
      height: auto;
    }
  
    &__profile {
      display: none;
    }
  }
}